
<div class="container">
	<div class="header header-highlight">
		<span class="col-sm-2 bg-1">
		</span>
		<span class="col-sm-2 bg-2">
		</span>
		<span class="col-sm-2 bg-3">
		</span>
		<span class="col-sm-2 bg-4">
		</span>
		<span class="col-sm-2 bg-5">
		</span>
		<span class="col-sm-2 bg-6">
		</span>
		
	</div>
<h4 class="blockquote red-text">
  {{title}}
</h4>

	<div class="col-sm-4 col-sm-offset-4">

		<form class="form-horizontal" method="">

			<input type="text" name="" value="" placeholder="">
			<input type="text" name="" value="" placeholder="">





		</form>


	</div>

</div>
